*{
    margin: 0; padding: 0; box-sizing: border-box;
    font-family: 'Popins', sans-serif;
}

body{
    display: flex; flex-direction: column; 
    align-items: center; justify-content: center;
    background: #3498db; width: 100%; height: 100%; color: #fff;
}

.main_box{
    width: 400px; height: 550px; text-align: center;
    position: relative; margin-top: 4%;
}

.main_box .content{
    position: relative; height: 100%; width: 100%;
}

.Profile_card img{
    height: 100%; width: 100%; border-radius: 26px; object-fit: cover;
}

.box{
    height: 50px; width: 100%; position: absolute; left: 0; bottom: 0;
    border-radius: 25px; cursor: pointer;
}

#check{
    display: none;
}

.Profile_card{
    position: absolute; height: 450px; width: 100%; 
    left: 50%; transform: translateX(-50%); padding: 8px 10px 10px 10px;
    background: #fff; border-radius: 25px; border: none;
}

.Profile_card::before{
    content: ''; position: absolute; left: 50%; bottom: -15px;
    background: #fff;
    transform: translateX(-50%) rotate(45deg); width: 30px; height: 30px;
    z-index: -1;
}

.Box_info{
    position: absolute;
    background: rgba(0, 0, 0, 0.3);
    height: 100%;
    width: 100%;
    left: 0;
    bottom: 0;
    border-radius: 25px;
    padding: 20px;
    text-align: center;
    opacity: 0;
    transition: all 0.3s ease;
}

.Center_text{
    left: 25%;
    display: flex; flex-direction: column; align-items: center; 
    justify-content: center; text-align: center; 
    position: absolute; bottom: 30%; 
    font-size: 18px; font-weight: 500; color: #fff;
}

#check:checked ~ .Profile_card .Box_info{
    opacity: 1;
}

.icons{
    transform: translate(-50%, -50%);
    width: 100%;
    position: absolute; bottom: 16%; left: 48%; 
    display: flex; flex-direction: row; gap: 6px; 
    justify-content: center; align-items: center; 
}

.icons a{
    color: #fff; font-size: 22px; border-radius: 50%;
}

.share, .cancel{
    position: absolute;
    width: 100%; height: 100%;
    display: flex; align-items: center; justify-content: center;
    background: #fff; text-align: center; font-size: 20px; font-weight: 600;
    color: #2980b9; border-radius: 25px; line-height: 50px;
    opacity: 0;
}

.share{
    opacity: 1;
}

#check:checked ~ .box .share{
    opacity: 0;
}

#check:checked ~ .box .cancel{
    opacity: 1;
}

#check:checked ~ .Profile_card{
    bottom: 85px;
}

#check:checked ~ .Center_text{
    z-index: 1; color: white;
}